@model IEnumerable<BlogBlog.Models.postViewmodel>

    <!--================Home Banner Area =================-->
    <section class="home_banner_area blog_banner">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="blog_b_text text-center">
                    <h2>Dude You’re Getting <br /> a Telescope</h2>
                    <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first</p>
                    <a class="white_bg_btn" href="#">View More</a>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================Blog Categorie Area =================
    <section class="blog_categorie_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img src="img/blog/cat-post/cat-post-3.jpg" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="blog-details.html"><h5>Social Life</h5></a>
                                <div class="border_line"></div>
                                <p>Enjoy your social life together</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img src="img/blog/cat-post/cat-post-2.jpg" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="blog-details.html"><h5>Politics</h5></a>
                                <div class="border_line"></div>
                                <p>Be a part of politics</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img src="img/blog/cat-post/cat-post-1.jpg" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="blog-details.html"><h5>Food</h5></a>
                                <div class="border_line"></div>
                                <p>Let the food be finished</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Categorie Area =================-->
<!--================Blog Area =================-->

    <section class="blog_area" style="margin-top: 5%;">
        <div class="container">
            <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                    @foreach (var item in Model)
                    {
                        <article class="row blog_item" >
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#" style="font-family: Vazir;">@Html.DisplayNameFor(model => model.Category)</a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="#" style="font-family: Vazir;">@Html.DisplayFor(modelItem => item.WriterName)<i class="lnr lnr-user"></i></a></li>
                                        <li><a href="#" style="font-family: Vazir;">@Html.DisplayFor(modelItem => item.DatedPost)<i class="lnr lnr-calendar-full"></i></a></li>
                                        <li><a href="#" style="font-family: Vazir;">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                        <li><a href="#" style="font-family: Vazir;"> نظر @Html.DisplayFor(modelItem => item.commentsNumber)<i class="lnr lnr-bubble" style="direction: ltr;"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9" style="text-align: right; ">
                                <div class="blog_post">
                                    <img src="@Url.Content(item.Img)" alt="">
                                    <div class="blog_details">
                                        <a href="/Posts/Details/@Url.Content(item.id)">
                                            <h2>@Html.DisplayFor(modelItem => item.Title)</h2></a>
                                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                                        <a href="/Posts/Details/@Url.Content(item.id)" class="white_bg_btn" style="font-family:Vazir; direction: rtl;">ادامه...</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    }
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-left"></span>
                                    </span>
                                </a>
                            </li>
                            <li class="page-item"><a href="#" class="page-link">01</a></li>
                            <li class="page-item active"><a href="#" class="page-link">02</a></li>
                            <li class="page-item"><a href="#" class="page-link">03</a></li>
                            <li class="page-item"><a href="#" class="page-link">04</a></li>
                            <li class="page-item"><a href="#" class="page-link">09</a></li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-right"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
                @Html.Partial("_LoginPartial")
          
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
